.summary-card {
    width: 70vw;
    margin: 0 !important;
    position: absolute !important;
    right: 4%; 
    top: 35%;
    padding: 0 2%;
    max-height:80vh;
    overflow-y:scroll;
    overflow-x: scroll;

}

.summary-card-title {
    text-transform: uppercase;
    font-weight: 700 !important;
    font-size: 200% !important;
    padding: 60px !important;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1.2rem !important;
}

.summary-card h3 {
    text-align: center;
    padding: 20px;

}

.nav-pills .nav-link.active {
    background-color: #c1c4c1 !important;
}

/* Styling for league name on summary table */
#league-title {
    font-family: 'Roboto Condensed', sans-serif;
    padding-top: 3rem;
    font-size: 2.4rem;
}
