::-webkit-scrollbar {
    display: none;
}

/*  WELCOME COMPONENT*/

/*animating welcome banner*/
#scroll-container {
    background-color: black;
    color: #398428;
    border-radius: 5px;
    overflow: hidden;
    height: 3rem;
    padding-top:3px;
  }
  
  #scroll-text {
    text-transform: uppercase;
    font-size:2rem;
    font-family: 'Baloo Tammudu 2', cursive;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: my-animation 20s linear infinite;
    -webkit-animation: my-animation 20s linear infinite;
    animation: my-animation 20s linear infinite;
  }
  
  /* for Firefox */
  /*@-moz-keyframes my-animation {
    from { -moz-transform: translateX(100%); }
    to { -moz-transform: translateX(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-90%);
      -webkit-transform: translateX(-90%);
      transform: translateX(-90%);
    }}
/*rest of styles for welcome*/ 
#welcome h1{
    color:#F09E05;
    font-size: 5rem;
    font-family: 'Big Shoulders Inline Text', cursive;
}
#welcome h3{
    color:#398428;
    font-family: 'Baloo Tammudu 2', cursive;
}
#welcome-button{
    margin-top:2%;
    padding:10px 20px;
    padding-top:1.5%;
    color:#F09E05;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size:1.6rem;
    font-weight: 800;
    border:#F09E05 2px solid;
    background-color: #3984287d;
    transition: all .8s ease-in-out;
    border-radius: 20px;
    text-align: center !important;
}
#welcome-button:hover{
    transform: scale(1.3);
    background-color: #398428;
}


#homepage{
   background-image:url('https://images.unsplash.com/photo-1504016798967-59a258e9386d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80');
    background-size:cover;
    background-repeat:"norepeat"; 
    position: fixed;
    width: 100%;
    height: 100%;
}
#homepage-wrapper{
    background-image:linear-gradient(340deg, transparent 0%, #05110090  10%, #1f3223 50%);
    background-size:cover;
    background-repeat:"norepeat"; 
    position: fixed;
    width: 100%;
    height: 100%;
    overflow-y:scroll;

}

#homepage h2{
    
    color:#F09E05;
    font-size: 4rem;
    font-family: 'Big Shoulders Inline Text', cursive;
    text-shadow:2px 4px rgb(51, 73, 33);
}
.homepageNewscard{
    background-color: #1A3c15 !important;
    border: #1f3223 2px double !important;
    height: 30vh !important;
    color: #f4fff8;
    overflow:scroll !important;
}
.homepageNewscard h5{
    color: #F09E05  !important;
    font-family: 'Baloo Tammudu 2', cursive;
    }
.articlecontent{
    height: 100%;
    width:80%;
    font-family: 'Baloo Tammudu 2', cursive;
    overflow:scroll;
}
.card-title-info{
    color: bisque;
    font-size:2rem;
}
.homepagecard{
    font-family: 'Baloo Tammudu 2', cursive;
    background-color: #1A3c15 !important ;
    border:#F09E05 2px solid !important;
    height: 40vh !important;
    -webkit-box-shadow: 3px 3px 7px 3px #398428cd !important; 
    box-shadow: 3px 3px 3px 3px #398428 !important;
}
.homecardButton{
    border: solid 2px #F09E05;
    background-color: transparent;
    color:#F09E05;
    transition:all .3s ease-in-out;
    padding:0% 2%;
    text-decoration:none;
    text-transform: uppercase;
    border-radius:10px;
}
.homecardButton:hover{
    color:antiquewhite;
    background-color: #398428;
}
.buttonNews{
    border: solid 2px #F09E05;
    background-color: transparent;
    color:#F09E05;
    transition:all .3s ease-in-out;
    padding:2%;
    text-decoration:none;
    text-transform: uppercase;
    border-radius:10px;
    padding:0 2%;
}
.buttonNews:hover{
    background-color: #398428;
    color:#F09E05;  
    color:antiquewhite; 
}

.lihp{
    border-color: #F09E05 !important;
    color: antiquewhite !important;
    background-color: transparent !important;
}
.newsLinks{
    border: 2px solid rgb(139, 97, 7) !important;
    text-transform:uppercase;
}
.information{
    color:#F09E05;
    font-weight: 400 !important;
    font-size: 130%;
}

/*MEDIA QUERRIES FOR HOMEPAGE AND WELCOMEPAGE*/
/*I DONT THINK WELCOME PAGE ACTUALLY NEEDS ANY */
@media screen and (max-width: 770px) {
    .homepagecard{
        margin: 2%;
    }
    .homepageNewscard{
       margin:2% auto;
    }
  }
@media screen and (max-width: 518px) {
    .homepagecard{
        width:90vw !important;
    }
    .homepageNewscard{
       margin:2% auto;
    }
  }